[submodule "vim/pack/packages/start/nerdcommenter"]
	path = vim/pack/packages/start/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "vim/pack/packages/start/unicode"]
	path = vim/pack/packages/start/unicode
	url = git@github.com:chrisbra/unicode.vim.git
[submodule "vim/pack/packages/start/vim-glsl"]
	path = vim/pack/packages/start/vim-glsl
	url = https://github.com/tikhomirov/vim-glsl.git
[submodule "scons/site_scons/inkscape"]
	path = scons/site_scons/site_tools/inkscape
	url = git@github.com:kprussing/scons-inkscape.git
[submodule "scons/site_scons/pandoc"]
	path = scons/site_scons/site_tools/pandoc
	url = git@github.com:kprussing/scons-pandoc.git
[submodule "tmux/plugins/tmux-continuum"]
	path = tmux/plugins/tmux-continuum
	url = https://git::@github.com/tmux-plugins/tmux-continuum
[submodule "tmux/plugins/tmux-resurrect"]
	path = tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule "scons/site_scons/site_tools/dtxtools"]
	path = scons/site_scons/site_tools/dtxtools
	url = git@github.com:kprussing/scons-dtxtools.git
[submodule "texmf/tex/latex/zenburn-latex"]
	path = texmf/tex/latex/zenburn-latex
	url = git@github.com:kprussing/zenburn-latex.git
[submodule "vim/pack/packages/opt/ale"]
	path = vim/pack/packages/opt/ale
	url = git@github.com:w0rp/ale.git
