backup
vim/autoload
vim/backup
vim/swap
vim/views
ipython/*/db
ipython/*/history.sqlite
ipython/*/log
ipython/*/pid
ipython/*/security
ipython/*/startup/README
ipython/README
ipython/*/static
mutt/cache
mutt/temp/*
vim/undo

# This allows me to make this a link to the system certificate bundle.
# On OS X, I found it at `/opt/local/share/curl/curl-ca-bundle.crt`.
mutt/ca-bundle.crt
