backup
vim/autoload
vim/backup
vim/swap
vim/views
ipython/*/db
ipython/*/history.sqlite
ipython/*/log
ipython/*/pid
ipython/*/security
ipython/*/startup/README
ipython/README
ipython/*/static
mutt/cache
mutt/temp/*
