## The generic settings for Outlook

set realname = "Keith F. Prussing"
set from="keith.prussing@gtri.gatech.edu"

set signature           = ~/.mutt/outlook/signature
set header_cache        = ~/.mutt/cache/work-headers
set message_cachedir    = ~/.mutt/cache/work-message

## Sending mail

set sendmail = "`which msmtp` -a outlook"
set sendmail_wait = 0

## Get the general settings

source ~/.mutt/common.rc

# vim: set filetype=muttrc:
