set folder  = ~/Mail

mailboxes `maildirs ~/Mail`

set spoolfile   = +INBOX  # Default inbox.
set postponed   = +Drafts
set record      = +Sent

#### Retrieve email

macro index O "<shell-escape>offlineimap<enter>"    "Run offlineimap"

# Get the general settings.

source ~/.mutt/outlook/common.rc

# And the security settings.
source ~/.mutt/smime.rc
source ~/.mutt/outlook/smime.rc

# vim: set filetype=muttrc:
