## Offline specific settings.

## Set the path to off line storage.

set folder              = ~/Mail

### Get the mailboxes.  Snagged this trick from 
### <http://dev.mutt.org/trac/wiki/ConfigTricks>

mailboxes `find $folder -type d -name cur -printf %h`

set spoolfile   = +INBOX  # Default inbox.
set mbox        = +Archive
set postponed   = +Drafts

#### Retrieve email

macro index O "<shell-escape>offlineimap<enter>"    "Run `offlineimap`"

# Get the general settings.

source ~/.mutt/personal/common.rc
source ~/.mutt/common.rc

# vim: set filetype=muttrc

